In [1]:
import glob
import os
import cv2
import glob
import re
import json
import h5py

import matplotlib as mpl
import tifffile as tf
import pandas as pd
import pylab as pl
import seaborn as sns
import numpy as np

In [2]:
import py3utils as p3
import plotting as pplot
import rf_utils as rfutils

In [3]:
%matplotlib notebook

In [4]:
#### Plotting params
visual_areas, area_colors = pplot.set_threecolor_palette()
pplot.set_plot_params(labelsize=6, lw_axes=0.25)

In [6]:
aggregate_dir = '/n/coxfs01/julianarhee/aggregate-visual-areas'

response_type='dff'
traceid = 'traces001'

# fit_thr=0.5
# do_spherical_correction=True

In [7]:
sdata, cells0 = p3.get_aggregate_info(visual_areas=visual_areas, return_cells=True)
all_cell_counts = cells0[['visual_area', 'datakey', 'cell']]\
                .drop_duplicates().groupby(['visual_area']).count().reset_index()

print(all_cell_counts.groupby(['visual_area']).sum())

/n/coxfs01/julianarhee/aggregate-visual-areas/dataset_info_assigned.pkl
Segmentation: missing 3 dsets
             datakey  cell
visual_area
Li              3754  3754
Lm              4461  4461
V1              4007  4007

In [8]:
# Save counts
statdir = os.path.join(aggregate_dir, 'data-stats','counts')
if not os.path.exists(statdir):
    os.makedirs(statdir)
counts_outfile = os.path.join(statdir, 'all_assigned_cells.csv')
all_cell_counts.to_csv (r'%s' % counts_outfile, index=False, header=True)
print(counts_outfile)

/n/coxfs01/julianarhee/aggregate-visual-areas/data-stats/counts/all_assigned_cells.csv

# Receptive Fields

In [ ]:
rfdata = rfutils.aggregate_rfdata(rf_meta, CELLS, fit_desc=rf_fit_desc,
                                 reliable_only=False)

# Gratings

In [9]:
trial_epoch='plushalf'
experiment='gratings'
responsive_test='nstds'
responsive_thr=10.0
n_stds = 2.5
NDATA = p3.get_aggregate_data(experiment, traceid=traceid, 
                      response_type=response_type, epoch=trial_epoch,
                      responsive_test=responsive_test, 
                      responsive_thr=responsive_thr, n_stds=n_stds)

/n/coxfs01/julianarhee/aggregate-visual-areas/dataset_info_assigned.pkl
Segmentation: missing 3 dsets
['gratings']
...loading: /n/coxfs01/julianarhee/aggregate-visual-areas/data-stats/aggr_gratings_trialmeans_traces001_nstds-thr-10.00_dff_plushalf.pkl

In [10]:
gratings = NDATA[['visual_area', 'datakey','cell']].drop_duplicates()\
            .groupby(['visual_area', 'datakey']).count().reset_index()
gratings.head()

  visual_area              datakey  cell
0          Li  20190314_JC070_fov1    37
1          Li  20190315_JC070_fov2     7
2          Li  20190319_JC067_fov1     9
3          Li  20190522_JC089_fov1     8
4          Li  20190527_JC092_fov3     7

In [11]:
gratings.groupby(['visual_area']).count()

             datakey  cell
visual_area
Li                15    15
Lm                10    10
V1                 9     9

In [12]:
gratings.groupby(['visual_area']).sum()

             cell
visual_area
Li            316
Lm            734
V1            825

In [14]:
gratings.groupby(['visual_area']).describe()

             cell
            count       mean        std  min    25%   50%    75%    max
visual_area
Li           15.0  21.066667  19.076787  2.0   7.50  10.0   34.5   65.0
Lm           10.0  73.400000  59.537477  3.0  34.25  67.0   89.0  188.0
V1            9.0  91.666667  53.429861  2.0  67.00  93.0  115.0  182.0

In [15]:
gratings

   visual_area              datakey  cell
0           Li  20190314_JC070_fov1    37
1           Li  20190315_JC070_fov2     7
2           Li  20190319_JC067_fov1     9
3           Li  20190522_JC089_fov1     8
4           Li  20190527_JC092_fov3     7
5           Li  20190602_JC091_fov1    65
6           Li  20190606_JC091_fov1    22
7           Li  20190607_JC091_fov1    43
8           Li  20190609_JC099_fov1     8
9           Li  20190612_JC099_fov1    19
10          Li  20190614_JC091_fov1    45
11          Li  20190617_JC099_fov1    10
12          Li  20191018_JC113_fov1    32
13          Li  20191105_JC117_fov1     2
14          Li  20191111_JC120_fov1     2
15          Lm  20190306_JC061_fov2    77
16          Lm  20190314_JC070_fov2    70
17          Lm  20190512_JC083_fov1   155
18          Lm  20190513_JC078_fov1   188
19          Lm  20190517_JC083_fov1    11
20          Lm  20190525_JC084_fov1    64
21          Lm  20190603_JC080_fov1    93
22          Lm  20190618_JC097_fov1    32
23          Lm  20190627_JC091_fov1    41
24          Lm  20191105_JC117_fov1     3
25          V1  20190511_JC083_fov1   138
26          V1  20190512_JC083_fov1    36
27          V1  20190517_JC083_fov1     2
28          V1  20190522_JC084_fov1   115
29          V1  20190613_JC097_fov1    67
30          V1  20190616_JC097_fov1   182
31          V1  20190617_JC097_fov1    86
32          V1  20190622_JC085_fov1   106
33          V1  20191006_JC110_fov1    93